.terraform.lock.hcl
.terraform
terraform.auto.tfvars
.idea
*.plan
terraform.tfstate*
events
token-exchange-switch-client.tf
asn-guardian-push-notification-firebase-adminsdk-fbsvc-d4d77e2aa0.json
*.p12